# SERVER
PORT=4000
NODE_ENV=DEVELOPMENT

# CORS - allowed frontend origins
FRONTEND_URL=http://localhost:5173
FRONTEND_PROD_URL=https://your-production-frontend.com

# MONGODB
MONGODB_URL=mongodb://127.0.0.1:27017   # or your Atlas connection string
DB_NAME= my_amazon_clone

# JWT
JWT_SECRET=your_super_secret_key
JWT_EXPIRES_IN=7d

# COOKIE
COOKIE_EXPIRES_IN=7

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# MAILTRAP (SMTP for password reset emails)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass
MAILTRAP_TOKEN=your_mailtrap_token
MAILTRAP_FROM_NAME="E-Commerce Support"
MAILTRAP_FROM_EMAIL="hello@demomailtrap.co"

# REDIS
REDIS_URL=redis://localhost:6379
REDIS_CACHE_EXPIRATION=300

# RAZORPAY (test keys)
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
